<!-- eslint-disable -->
<ul class="custom-checkbox-list">

    <li><%=label%>: </li>
    <%options.forEach((option) => {%>
			
    <li>
        <input
            type="checkbox"
            name="<%=attribute%>"
            id="<%=option.name%>"
            value="<%=option.id%>"
	    <%- locals.checkedGenreIds?.includes(option.id) ? "checked" : "" %>
        >
        <label for="<%=option.name%>"><%=option.name%></label>
    </li> 
    <%});%>
</ul>
