<!-- eslint-disable -->
<label for="<%=attribute%>" class="custom-select">

    <%= label %>
    <select
        required
        name="<%=attribute%>"
        id="<%=attribute%>"
    >
        <% options.forEach((option) => { %>

		<option value="<%=option.id%>" <%- +option.id === locals.selectedId ? 'selected' : '' %>><%=option.name%></option>


        <% }); %>

    </select>

	<% if(locals.errorText) { %>
		<div class="error">* <%= locals.errorText %></div>
	<% } %>
</label>
