<div class="dashboard">

    <div class="namedList">
        <h2>Dashboard</h2>	
        <ul>
            <li><%- include('_dashboard-item') %></li>
            <li><%- include('_dashboard-item') %></li>
            <li><%- include('_dashboard-item') %></li>
        </ul>
    </div>

    <div class="namedList">
        <h2>Recent releases</h2>	
        <ul>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
            <li><%- include('_release-item') %></li>
        </ul>
    </div>

</div>
