<!-- eslint-disable -->
<label for="<%= attribute %>" class="file-input">
    <%= label %>:
    <input
        type="file"
        name="<%= attribute %>"
        id="<%= attribute %>"
	<%-locals.isOptional === true ? "optional" : "required"%>
    >
</label>
