<!-- eslint-disable -->
<label for="<%= attribute %>" class="file-input">
    <%= label + `${locals.isOptional ? " (optional)" : ""}` %>:
    <input
        type="file"
        name="<%= attribute %>"
        id="<%= attribute %>"
	accept="image/*"
	<%-locals.isOptional === true ? "optional" : "required"%>
    >
</label>
