<a href="/" class="item game-item">
    <img src="<%=game.b64%>" alt="<%=game.game_name%>">
    <h3><%=game.game_name%></h3>
    <p class="publisher"><%=game.publisher_name%></p>
    <p class="genres"><%=game.genres%></p>
</a>
