<!-- eslint-disable  -->
<label for="<%= attribute %>" class="text-input">
    <%= label %>:
    <input
        type="text"
        name="<%= attribute %>"
        id="<%= attribute %>"
        value="<%=locals.initialValue%>"
        <%- locals.isOptional === true ? "optional" : "required"%>
    >

	<% if(locals.errorText) { %>
		<div class="error">* <%= locals.errorText %></div>
	<% } %>
</label>
