<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add publisher</title>
        <link rel="stylesheet" href="/new-form.css">
    </head>
    <body>
	  	
        <%- include('_side-bar') %>
        <%- include('_top-bar') %>
	
        <main>
            <h2>Add genre</h2>
            <form
                enctype="multipart/form-data"
                class="custom-form"
                action="/genres/new"
                method="post"
            >


                <%- include ('_text-input', {attribute: "name", label: "Name"}) %> 
                <%- include ('_file-input', {attribute: "image", label: "Image"}) %> 

                <%- include ('_submit-button', {label: "submit" }) %>	
            </form>
        </main>
    </body>
</html>
