
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
        <title>Game Inventory</title>
    </head>
    <body>
        <%- include('_side-bar') %>
        <%- include('_top-bar') %>
        <main>

            <%- include('_list', {listTitle: 'Found games with query: ' + query, componentName: '_game-item', list: gameList, itemName: 'game'})%>
            <%- include('_list', {listTitle: 'Found publishers with query: ' + query, componentName: '_publisher-item', list: publisherList, itemName: 'publisher'})%>
            <%- include('_list', {listTitle: 'Found genres with query: ' + query, componentName: '_genre-item', list: genreList, itemName: 'genre'})%>
        </main>
    </body>
</html>
